.High{
    border: 2px solid red;
}

.Medium{
    border:2px solid  yellow;
}

.Low{
    border:2px solid black;
}

.completed {
    background: none;
    /* border:10px solid green; */
    /* background-color: green; */
    
}